= form_with(model: [question_board, question], local: true) do |form|
  - if question.errors.any?
    #error_explanation.alert.alert-danger
      %ul
        - question.errors.full_messages.each do |message|
          %li #{message}

  .field
    = form.text_field :title, placeholder: "質問を書きます", class: 'form-control'
  .actions.text-right
    = form.submit '作成', class: 'btn btn-primary mt-1'
    = link_to 'キャンセル', question_board_path(question_board), class: 'btn btn-default'
