.container
  %h1= @question_board.title

  = render "questions/question_list", questions: @question_board.questions

  = link_to '質問のカスタマイズ', edit_question_board_path(@question_board)

  = link_to 'メンバーへ回答依頼', new_question_board_invite_path(@question_board)

  = link_to '質問一覧へ', question_boards_path
