= form_with(model: answer_board, local: true) do |form|
  .question-box.mt-3
    = form.fields_for :answers do |answer_form|
      - answer = answer_form.object
      %strong= answer.question.title
      - if answer.errors.any?
        .alert.alert-danger
          - answer.errors.full_messages.each do |message|
            #{message}
      .field
        = answer_form.text_area :content,class: 'form-control'
      = answer_form.hidden_field :question_id, value: answer.question.id
  = form.hidden_field :token, value: @token
  .actions.text-right
    = form.submit (yield :submit_label), class: 'btn btn-primary mt-1'
