.container
  %h1= "#{AnswerBoard.model_name.human}の一覧"
  %ul.list-group
    %li.list-group-item
      .row
        .col-md-4= QuestionBoard.human_attribute_name :title
        .col-md-4= Invite.human_attribute_name :name
        .col-md-4= AnswerBoard.human_attribute_name :created_at
    - @boards.includes(invite:[:question_board]).each do |board|
      %li.list-group-item
        .row
          .col-md-4
            = board.invite.question_board.title
          .col-md-4
            = link_to "#{board.invite.name} さんの回答", answer_board_path(board)
          .col-md-4
            = l(board.created_at, format: :long)

  = link_to "#{QuestionBoard.model_name.human}の一覧へ", question_boards_path
