= @board.invite.name
= l(@board.created_at, format: :long)

%ul.list-group
  - @board.answers.includes(:question).each do |answer|
    %li.list-group-item
      .question
        %strong= answer.question.title
      .answer= answer.content

= link_to '戻る', answer_boards_path
